{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "node": "21"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": ["add-import-extension"]
}
